prefect_flows/__pycache__/
prefect_flows/local
prefect_flows/Google_Cloud/__pycache__/
flows/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
